{% extends '../index.njk' %}

{% block title %}{{ translate('404_title') }}{% endblock %}

{% block content %}
  <div>
    <h1>{{ translate('404_title') }}</h1>
    <p>{{ translate('404_message') }}</p>
  </div>

  {% if show %}
    <div>
      <h2>Error Info <span style="font-weight: normal; font-size: medium;">(Show up only in development mode)</span></h2>
      <p>
        Error: {{ dev_message }} <br>
        Stack: {{ stack }}
      </p>
    </div>
  {% endif %}
{% endblock %}
